language: ruby

cache: bundler

rvm:
  - 2.4.6
  - 2.5.5
  - 2.6.3

before_script:
  - git config --global user.email "travis@travis.ci"
  - git config --global user.name "Travis CI"

before_install:
  - gem update --system
  - gem install bundler

script:
  - bundle exec rspec
  - bundle exec overcommit --sign
  - bundle exec overcommit --sign pre-commit
  - bundle exec overcommit --run
